* {
	box-sizing: border-box;
}

.body-wrapper {
	margin: 3 0 3 0;
	border-top: 3px black solid;
	border-bottom: 3px black solid;
}

nav div span {
	display: inline;
}

/*

you can do this or you can just use | in html

nav div span:first-child {
	border-right: 1px black solid;
	padding-right: 2px;
	margin-right: 0px;
}

nav div span:last-child {
	border-left: 1px black solid;
	padding-left: 2px;
	margin-right: 0px;
}
*/

nav {
	text-align: center;
}

header h1 {
	text-align: center;
}

main {
	border-top: 1px black solid;
	border-bottom: 1px black solid;
	width: 80%;
	margin: auto;
}

main .left-col {
	display: inline-block;
	width: 60%;
	float: left;
	padding: 10%;
}

main .right-col {
	display: inline-block;
	width: 40%;
	float: right;
	vertical-align: top;
}

footer {
	clear: both;
	text-align: center;
}

footer ul li {
	display: inline;
	text-align: center;
}

.clearfix {
	clear: both;
}

img {
	height: 70%;
	width: 70%;
	padding: 1px;
	border: 1px black solid;
	margin: 10%;
}